@page "/aboutus"
<style>
    .bcolor {
        background-color: #f0f0f0;
    }
</style>
<div class="container-fluid bcolor p-4">
    <div class="row my-4">
        <div class="col-12 text-center mb-4">
            <h2 class="featurette-heading text-success">OUR VISION</h2>
            <p class="lead">
                <b>"</b>Creating a world where fair trade and ethical sourcing are accessible to all businesses.<b>"</b>
            </p>
        </div>

        <div class="col-12 text-center mb-4">
            <h2 class="featurette-heading text-success">OUR MISSION</h2>
            <p class="lead">
                <b>"</b>Our mission is to simplify farming tasks for our users by providing a platform that seamlessly
                connects
                farmers with suppliers, streamlining procurement and showcasing agricultural products to a wider
                audience.<b>"</b>
            </p>
        </div>
    </div>
</div>

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-12 text-center mb-4">
            <h3 class="text-secondary">Expert Farmers</h3> 
            <h2 class="text-dark">Meet The Team</h2> 
        </div>
    </div>

    <div class="row">
        <!-- First Team Member -->
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
                <img src="img/person_1.jpg" alt="Joshua Stefan" class="card-img-top img-fluid">
                <div class="card-body">
                    <h3 class="card-title">Joshua Stefan</h3>
                    <span class="card-text">Farmer</span>
                </div>
            </div>
        </div>

        <!-- Second Team Member -->
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
                <img src="img/person_2.jpg" alt="Ben Anderson" class="card-img-top img-fluid">
                <div class="card-body">
                    <h3 class="card-title">Ben Anderson</h3>
                    <span class="card-text">Farmer</span>
                </div>
            </div>
        </div>

        <!-- Third Team Member -->
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
                <img src="img/person_3.jpg" alt="Evan Smith" class="card-img-top img-fluid">
                <div class="card-body">
                    <h3 class="card-title">Evan Smith</h3>
                    <span class="card-text">Farmer</span>
                </div>
            </div>
        </div>

        <!-- Fourth Team Member -->
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
                <img src="img/person_4.jpg" alt="Kaylie Jones" class="card-img-top img-fluid">
                <div class="card-body">
                    <h3 class="card-title">Kaylie Jones</h3>
                    <span class="card-text">Farmer</span>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid bcolor p-4">
    <div class="row featurette d-flex justify-content-center align-items-center">
        <div class="col-md-12">
            <h2 class="featurette-heading text-success text-center">FAQ's</h2>
            <ol class="list-group list-group-numbered lead">
                <li class="list-group-item">
                    <b>Q1: Who are the sellers? </b><br>
                    Sellers are typically producers, farmers, and cooperatives of agricultural crops. All sellers are
                    verified by our platform through a seller-specific process, ensuring market-wide credibility.
                </li>
                <li class="list-group-item">
                    <b>Q2: Who are the buyers?</b><br> 
                    Buyers can be referred to as industrial buyers, whom may be crop processors, food manufactures, food
                    retailers, etc… All buyers are verified with a buyer specific process.
                </li>
                <li class="list-group-item">
                    <b>Q3: What is the platform's role?</b> <br> 
                    The platform serves as a marketplace, connecting buyers and sellers without acting as a broker or
                    intermediary.
                </li>
                <li class="list-group-item">
                    <b> Q4: How do I register? </b><br> 
                    To register, follow our simple sign-up process and complete the KYC verification.
                </li>
            </ol>
        </div>
    </div>
</div>

@code {

}


