@page "/login"
@using ClassLibraryDAL
@using ClassLibraryModel
@inject NavigationManager NavigationManager

<div class="modal-body">
    <form @onsubmit="HandleLoginSubmit">
        <div class="form-group">
            <label for="exampleInputUserName">User Name</label>
            <input type="text" class="form-control" id="exampleInputUserName"
                   @bind="username" aria-describedby="nameHelp" placeholder="Enter User Name">
            <small id="nameHelp" class="form-text text-muted">Enter your User Name</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1"
                   @bind="password" name="exampleInputPassword1" minlength="6" maxlength="6" pattern="\d{6}"
                   aria-describedby="pinHelp" placeholder="PIN Code" title="Please enter a 6-digit PIN code" required>
            <small id="pinHelp" class="form-text text-muted">Enter your PIN code</small>
        </div>
        <button type="submit" @onclick="HandleLoginSubmit" class="btn btn-success">Submit</button>
        @if (errorMessage != null)
        {
            <div class="alert alert-danger mt-2">@errorMessage</div>
        }
    </form>
</div>

@code {
    string username;
    string password;
    private List<FarmerModel> listFarmers = new List<FarmerModel>();
    private List<SupplierModel> listSuppliers = new List<SupplierModel>();
    private string errorMessage;

    protected override void OnInitialized()
    {
        listFarmers = FarmerDAL.GetFarmers();
        listSuppliers = SupplierDAL.GetSupplier();
        base.OnInitialized();
    }

    private void HandleLoginSubmit()
    {
        errorMessage = null;

        // Check in farmers list
        foreach (var user in listFarmers)
        {
            if (user.farmerName == username && user.farmerPIN == int.Parse(password))
            {
                NavigationManager.NavigateTo($"/fproduct/{user.FID}");
                return;
            }
        }

        // Check in suppliers list
        foreach (var user in listSuppliers)
        {
            if (user.supplierName == username && user.supplierPIN == int.Parse(password))
            {
                NavigationManager.NavigateTo($"/sbidshowcase/{user.SupplierID}");
                return;
            }
        }

        // If no match found
        errorMessage = "Username or password is incorrect.";
    }

    private void NavigateToSignUp()
    {
        NavigationManager.NavigateTo("/");
    }
}

